<!-- <nb-card status="basic">
  <nb-card-body> -->
<div class="row">
  <!-- <div class="col-3"> -->
  <!-- <open-main-col-left [user]="userInSession"></open-main-col-left> -->
  <!-- </div> -->

  <div class="col-md-1 text-left">
    <button nbButton (click)="onBack()" size="small" shape="round" status="primary" nbTooltip="Regresar">
      <nb-icon nbPrefix icon="arrow-back-outline" pack="eva"></nb-icon>
    </button>
  </div>
  <div class="col-md-10">
    <open-main-col-right [persona]="personaInSession"></open-main-col-right>
  </div>
</div>
<!-- </nb-card-body>
</nb-card> -->