<!-- <nb-card status="basic">
  <nb-card-body> -->
<div class="row">
  <div class="col-md-4 text-left">
    <button nbButton (click)="onBack()" size="small" shape="round" status="primary" nbTooltip="Regresar">
      <nb-icon nbPrefix icon="arrow-back-outline" pack="eva"></nb-icon>
    </button>
  </div>
  <div class="col-md-4">
    <open-main-col-left [isMyProfile]="isMyProfile" [user]="userInSession"></open-main-col-left>
  </div>
  <!-- <div class="col-9"> -->
  <!-- <open-main-col-right [persona]="personaInSession"></open-main-col-right> -->
  <!-- </div> -->
</div>
<!-- </nb-card-body>
</nb-card> -->