@import 'themes';

// .es-header-icon{
//     font-size: 1.1rem;
//     margin-right: 0.4rem;
// }
// .col-form-label {
//     color: nb-theme(header-bg);
// }
nb-radio-group {
    display: flex;
}
nb-card-header{
    display: flex;
    justify-content: space-between;
}
.open-button-end {
    button {
        margin-right: 0.3rem;
    }
}
.col-form-label.required::after {
    content: ' *';
    color: nb-theme(color-danger);;
}
.open-alert {
    display: block;
    margin-bottom: 0rem;
}