<nb-card status="basic" [nbSpinner]="loadingSpinnerSave" nbSpinnerStatus="primary">
  <nb-card-header>
    <div class="text-center">
      <h5 i18n>Cambiar contraseña</h5>
    </div>
    <div>
      <nb-icon icon="close-outline" (click)="onClose()" style="cursor: pointer"></nb-icon>
    </div>
  </nb-card-header>
  <nb-card-body>

    <!-- <span i18n>
      Le enviaremos un mensaje a su correo electrónico con un enlace para restablecer su contraseña.
    </span> -->
    <form [formGroup]="editarForm">

      <div class="form-group">
        <span i18n>
          <!-- Ingrese la nueva contraseña para completar la acción. -->
          Por favor establezca la nueva contraseña
        </span>
      </div>

      <div class="form-group">
        <label for="password" class="label required">Contraseña</label>
        <input type="password" nbInput fullWidth formControlName="password" fieldSize="small" name="password"
          id="password">
      </div>

      <div class="form-group">
        <label for="password_confirmation" class="label required">Confirmar contraseña</label>
        <input type="password" nbInput fullWidth formControlName="password_confirmation" fieldSize="small"
          name="password_confirmation" id="password_confirmation">
      </div>
    </form>

  </nb-card-body>
  <nb-card-footer class="text-center open-button-end">

    <!-- <button nbButton status="primary" size="small" (click)="onSendMessage()">
      <nb-icon icon="email-outline"></nb-icon>
      Enviar mensaje
    </button> -->

    <button nbButton fullWidth status="primary" size="small" (click)="onConfirm()">
      <nb-icon icon="checkmark-outline"></nb-icon>
      Confirmar
    </button>

  </nb-card-footer>
</nb-card>