:host {
  text-align: right;
  font-size: 12px;
  
  ul {
    list-style-type: none;
    margin: auto;
    li {
      color: inherit;
      .lamb-entity-id {
        font-weight: 600;
        font-size: 1.2rem;
      }
      .lamb-entity-name {
        font-weight: 600;
        font-size: x-small;
      }
    }
  }
}
