<nb-layout>
    <nb-layout-header>
        <div class="open-header">
            <div class="open-name-enterprise">
                <!-- <img src="assets/logos/logo-conectados.svg" alt=""> -->
                <!-- Sistema de<strong>&nbsp; DISCIPULADO</strong> -->
                <strong class="es-open">OPEN</strong>
                <span class="es-way">app</span>
            </div>
            <img src="assets/logos/adventist-symbol-tm-circle--white.svg" alt="">
        </div>
    </nb-layout-header>
    <nb-layout-column>
        <router-outlet></router-outlet>
    </nb-layout-column>
    <!-- <nb-layout-footer fixed> -->
    <nb-layout-footer>
        <span class="open-footer">
            Copyright © Open way {{ year }}. Todos los derechos son reservados — Implementado por: <a href="#">
                Devotion</a>
        </span>
    </nb-layout-footer>
</nb-layout>