<div class="row">
  <div class="col-md-12">
    <nb-card [nbSpinner]="loadingRequestPassword" nbSpinnerStatus="info">
      <nb-card-body *ngIf="msmSuccess">
        <nb-alert outline="success">{{msmSuccess}}</nb-alert>
      </nb-card-body>
      <nb-card-header *ngIf="!msmSuccess">
        <h4>
          Olvidó su contraseña
        </h4>
        <small>Ingrese su dirección de correo electrónico y le enviaremos un enlace para restablecer su
          contraseña</small>
      </nb-card-header>
      <nb-card-body *ngIf="!msmSuccess">
        <form [formGroup]="requestPasswordForm">
          <div class="form-group">
            <label for="email" class="col-form-label col-form-label-sm required">Correo electrónico
            </label>
            <input type="text" nbInput fullWidth fieldSize="small" formControlName="email">
          </div>
          <div class="form-group text-center">
            <button nbButton size="small" (click)="onRequestPassword()" status="primary">
              <nb-icon icon="email-outline"></nb-icon>
              Solicitud de contraseña
            </button>
          </div>

        </form>
      </nb-card-body>
      <nb-card-footer class="open-links-end">
        <!-- <div class="form-group text-center open-links-end"> -->
        <a class="text-link" [routerLink]="['../login']">
          Iniciar sesión
        </a>
        <a class="text-link" [routerLink]="['../signup']">
          Registrar
        </a>
        <!-- </div> -->
      </nb-card-footer>
    </nb-card>
  </div>
</div>