<nb-card>
    <nb-card-header>
        <div class="text-center">
            <span i18n>
                DASHBOARD |
            </span>
            <span class="font-weight-light" i18n>
                Página principal
            </span>
        </div>
        <div></div>
    </nb-card-header>
    <nb-card-body>

        <!-- <div *ngIf="apiLoaded | async">
            <google-map [center]="position" [zoom]="8" width="100%" height="63%">
                <map-marker [position]="position"></map-marker>
            </google-map>
        </div> -->

        <!-- <div *ngIf="apiLoaded | async"> -->
            <!-- <google-map></google-map> -->
        <!-- </div> -->
    </nb-card-body>
    <nb-card-footer class="text-right open-button-end">

    </nb-card-footer>
</nb-card>