<div class="row">
  <div class="col-md-12">
    <nb-card [nbSpinner]="loadingResetPassword" nbSpinnerStatus="info">
      <nb-card-body *ngIf="msmSuccess">
        <nb-alert outline="success">{{msmSuccess}}</nb-alert>
      </nb-card-body>

      <nb-card-header *ngIf="!msmSuccess">
        <h4>
          Cambia la contraseña
        </h4>
        <small>Por favor establezca una nueva contraseña</small>
      </nb-card-header>
      <nb-card-body *ngIf="!msmSuccess">
        <form [formGroup]="resetPasswordForm">
          <div class="form-group">
            <label for="password" class="col-form-label col-form-label-sm required">Nueva contraseña</label>
            <input type="password" nbInput fullWidth name="password" id="password" fieldSize="small"
              formControlName="password">
          </div>
          <div class="form-group">
            <label for="password_confirmation" class="col-form-label col-form-label-sm required">Confirmar
              contraseña</label>
            <input type="password" nbInput fullWidth name="password_confirmation" id="password_confirmation"
              fieldSize="small" formControlName="password_confirmation">
          </div>
          <div class="form-group text-center">
            <button nbButton size="small" (click)="onResetPassword()" status="primary">
              <nb-icon icon="save-outline"></nb-icon>
              Cambia contraseña
            </button>
          </div>
        </form>
      </nb-card-body>
      <nb-card-footer class="open-links-end">
        <a class="text-link" [routerLink]="['../login']">
          Iniciar sesión
        </a>
        <a class="text-link" [routerLink]="['../signup']">
          Registrar
        </a>
      </nb-card-footer>
    </nb-card>
  </div>
</div>